/*tamanho da fonte dos componentes do primefaces*/
.ui-widget {
	font-size: 12px !important;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

#content {
	position: relative;
}

#header {
	padding: 0px;
}

#body {
	padding: 10px;
	padding-bottom: 60px;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	height: 20px;
}

#footer p {
	margin: 0;
}

.table {
	margin-left: 2%;
	width: 96%;
}

.confirmDialog-button {
	width: 45%;
	left: 3%;
}

.filter-input {
	margin: auto !important;
	width: 100% !important;
}

.filter-combo {
	margin: auto !important;
	width: calc(100% - 24px) !important;
}

.filter-calendar {
	margin: auto !important;
	width: calc(100% - 10px) !important;
}

/* .ui-column-customfilter {
	margin: auto !important;
	width: 100% !important;
}

.ui-column-customfilter span {
	margin: auto !important;
	width: 100% !important;
}

.ui-column-customfilter span input {
	margin: auto !important;
	width: calc(100% - 10px) !important;
}

.ui-column-customfilter div label {
	margin: auto !important;
	width: calc(100% - 10px) !important;
} */